{% extends "_base_page_2016.html" %}

{% block title %}Schedule - Functional Conf 2016{% endblock %}

{% block body_classes %}
page page-schedule
{% endblock %}

{% block content %}
<div class="schedule-wrapper">
    <div class="row">
        <div class="columns large-9">
            <h1>Schedule</h1>

            <h2 class="head-workshops" id="conference">Conference</h2>

            <div id="confengine_embed_content" data-embed-url="https://confengine.com/functional-conf-2016/schedule/rich?theme=light">
                <img src="https://confengine.com/assets/ext/loader.gif">
                <h5>Loading Schedule...</h5>
            </div>
            <script type="text/javascript" src="https://confengine.com/assets/ext/confengine.oembed.min.js"></script>

            <div>
                Not convinced? Check out <a href="/2015/schedule.html">our last year's schedule</a>.
            </div>

        </div>
    </div>
</div>
{% endblock %}
