{% extends "_base_page_2015.html" %}

{% block title %}Schedule - Functional Conf 2015{% endblock %}

{% block body_classes %}
page page-schedule
{% endblock %}

{% block content %}
    <div class="schedule-wrapper">
    <div class="row">
          <div class="columns large-9">
            <h1>Schedule</h1>

            <h2 class="head-workshops" id="pre-workshops">Pre-Conference Workshops</h2>

            <table class="table table-striped table-bordered table--workshops">
                <thead>
                <tr>
                    <td colspan="4">
                        <strong>Sep 10th, 2015 (Thursday)</strong>
                    </td>
                </tr>
                <tr>
                    <th style="width:10%;">#</th>
                    <th style="width:15%;">Length</th>
                    <th style="width:60%;">Workshop</th>
                    <th style="width:15%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Full Day</td>
                    <td><a href="https://confengine.com/functional-conf-2015/proposal/1225/introduction-to-swift-workshop" target="_blank">Introduction to Swift</a> by <a href="https://confengine.com/user/daniel-steinberg" target="_blank">Daniel Steinberg</a></td>
                    <td><a href="#" class="button dark small">Cancelled</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Full Day</td>
                    <td><a href="https://confengine.com/functional-conf-2015/proposal/1288" target="_blank">Building an Erlang Microservice from A to Z </a> by <a href="https://confengine.com/user/louis-philippe-gauthier" target="_blank">Louis-Philippe Gauthier</a></td>
                    <td><a href="https://confengine.com/functional-conf-2015#workshop-86-info" target="_blank" class="button dark small">Register</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Full Day</td>
                    <td><a href="https://confengine.com/functional-conf-2015/proposal/1313" target="_blank">Implementing Reactive Apps using Akka and Play</a> by <a href="https://confengine.com/user/nilanjan-raychaudhuri" target="_blank">Nilanjan Raychaudhuri</a></td>
                    <td><a href="https://confengine.com/functional-conf-2015#workshop-85-info" target="_blank" class="button dark small">Register</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Full Day</td>
                    <td><a href="https://confengine.com/functional-conf-2015/proposal/1334/" target="_blank">Instrumentation and Monitoring for Functional Architectures</a> by <a href="https://confengine.com/user/brian-lee-troutwine" target="_blank">Brian Lee Troutwine</a> </td>
                    <td><a href="#" class="button dark small">Cancelled</a></td>
                </tr>
                </tbody>
            </table>

            <h2 class="head-workshops" id="conference">Conference</h2>

              <div id="confengine_embed_content" data-embed-url="https://confengine.com/functional-conf-2015/schedule?theme=light">
                  <img src="https://confengine.com/assets/ext/loader.gif">
                  <h5>Loading Schedule...</h5>
              </div>
              <script type="text/javascript" src="https://confengine.com/assets/ext/confengine.oembed.min.js"></script>

            <h2 class="head-workshops" id="post-workshops">Post-Conference Workshops</h2>

            <table class="table table-striped table-bordered table--workshops">
                <thead>
                <tr>
                    <td colspan="4">
                        <strong>Sep 13th, 2015 (Sunday)</strong>
                    </td>
                </tr>
                <tr>
                    <th style="width:10%;">#</th>
                    <th style="width:15%;">Length</th>
                    <th style="width:60%;">Workshop</th>
                    <th style="width:15%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Full Day</td>
                    <td><a href="https://confengine.com/functional-conf-2015/proposal/1155/array-oriented-functional-programming-with-dyalog" target="_blank">Array Oriented Functional Programming with Dyalog</a> by <a href="https://confengine.com/user/morten-kromberg" target="_blank">Morten Kromberg</a> and <a href="http://www.dyalog.com/blog/author/john/" target="_blank">John Scholes</a></td>
                    <td><a href="https://confengine.com/functional-conf-2015#workshop-81-info" target="_blank" class="button dark small">Register</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Half Day</td>
                    <td><a href="https://confengine.com/functional-conf-2015/proposal/1303" target="_blank">Introduction to OCaml</a> by <a href="https://confengine.com/user/kc-sivaramakrishnan" target="_blank">KC Sivaramakrishnan</a></td>
                    <td><a href="#" class="button dark small">Cancelled</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Half Day</td>
                    <td><a href="https://confengine.com/functional-conf-2015/proposal/1358" target="_blank">A Sip of ClojureScript</a> by <a href="https://confengine.com/user/pratik-patel" target="_blank">Pratik Patel</a> </td>
                    <td><a href="#" class="button dark small">Cancelled</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Half Day</td>
                    <td><a href="https://confengine.com/functional-conf-2015/proposal/1235" target="_blank">Julia - a Lisp for Fast Number Crunching</a> by <a href="https://confengine.com/user/viral-b-shah" target="_blank">Viral Shah</a> &amp; <a href="https://confengine.com/user/shashi-gowda" target="_blank">Shashi Gowda</a></td>
                    <td><a href="https://confengine.com/functional-conf-2015#workshop-90-info" target="_blank" class="button dark small">Register</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Half Day</td>
                    <td><a href="https://confengine.com/functional-conf-2015/proposal/1530" target="_blank">Rescuing your Legacy Code with Erlang</a> by <a href="https://confengine.com/user/bernard-duggan" target="_blank">Bernard Duggan</a></td>
                    <td><a href="#" class="button dark small">Cancelled</a></td>
                </tr>
                </tbody>
            </table>

            <div>
                Not convinced? Check out <a href="/2014/schedule.html">our last year's schedule</a>.
            </div>

          </div>
       </div>
    </div>
{% endblock %}
