/* line 3, ../../scss/print.scss */
body {
  color: #444 !important;
  background: white !important;
}

/* line 7, ../../scss/print.scss */
.footer {
  display: none;
}

/* line 11, ../../scss/print.scss */
.page .header.dark {
  background: transparent !important;
  min-height: 90px;
}
/* line 14, ../../scss/print.scss */
.page .header.dark .wizard {
  width: 100px;
  background-position: top left;
}
/* line 18, ../../scss/print.scss */
.page .header.dark .logo {
  color: #000 !important;
  margin-left: 160px;
  margin-top: 5px;
}
/* line 23, ../../scss/print.scss */
.page .header.dark .topnav-wrapper {
  display: none;
}
/* line 28, ../../scss/print.scss */
.page .content h1, .page .content h2, .page .content h3, .page .content h4, .page .content h5 {
  color: #000 !important;
}
/* line 31, ../../scss/print.scss */
.page .content h1 {
  font-size: 24px;
}
/* line 34, ../../scss/print.scss */
.page .content h2 {
  font-size: 18px;
}
/* line 39, ../../scss/print.scss */
.page table tr:nth-of-type(even) {
  background: #efefef;
}
/* line 40, ../../scss/print.scss */
.page table tr td, .page table a, .page table a:active, .page table a:visited {
  color: #222 !important;
}
/* line 43, ../../scss/print.scss */
.page table th {
  font-size: 16px !important;
  padding: 0;
}
/* line 47, ../../scss/print.scss */
.page table tr td {
  font-size: 14px !important;
  padding: 4px 10px;
}
/* line 56, ../../scss/print.scss */
.page.page-schedule .content table td a:not(.button) {
  text-decoration: none;
  border-bottom: none;
}
/* line 60, ../../scss/print.scss */
.page.page-schedule .content table td a:not(.button):first-child {
  font-weight: bold;
  text-decoration: none;
  border-bottom: none;
}
/* line 68, ../../scss/print.scss */
.page .table--day-1 {
  margin-bottom: 200px;
}
/* line 71, ../../scss/print.scss */
.page .table--day-2,
.page .head-workshops {
  page-break-before: always !important;
}
/* line 77, ../../scss/print.scss */
.page .table--workshops .button {
  display: none !important;
}
/* line 81, ../../scss/print.scss */
.page .schedule-wrapper > .row {
  padding-bottom: 0 !important;
}
