{% extends "_base_page_2018.html" %}

{% block title %}Schedule - Functional Conf 2018{% endblock %}

{% block body_classes %}
page page-schedule
{% endblock %}

{% block content %}
<style>
    .confengine-iframe-container {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
    }

    .confengine-iframe-container iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
</style>
<div class="confengine-iframe-container">
    <iframe src="//confengine.com/functional-conf-2018/schedule/lean" allowfullscreen></iframe>
</div>
{% endblock %}