{% extends "_base.html" %}

{% block header %}
  <div class="header dark">
    <div class="row row--topnav">
      <div class="large-6 small-12 columns logo-wrapper">
        <a href="/">
          <div class="wizard"></div>
          <h1 class="logo">
            Functional Conf
            <span class="date">
              Sep 10&mdash;13 &lsquo;15 <br />
              Bangalore</span>
          </h1>
        </a>
      </div>
      <div class="large-6 small-12 columns topnav-wrapper">
        {% include "_topnav.html" %}
      </div>
    </div>
  </div>
{% endblock %}
