    <div class="footer dark">
      <div class="row">
          <div class="columns large-12">
            <div class="social-wrapper">
              <ul class="small-block-grid-5 social-links">
                <li><a class="icon-twitter" href="https://twitter.com/FuConf"></a></li>
                <li><a class="icon-fb" href="https://www.facebook.com/pages/Functional-Conf/208786912649602"></a></li>
                <li><a class="icon-linkedin" href="http://www.linkedin.com/groups/Functional-Conf-6626650/about"></a></li>
                <li><a class="icon-plus" href="https://plus.google.com/u/0/communities/108445265387298883578"></a></li>
                <li><a class="icon-mail" href="mailto:team@functionalconf.com?subject=FunctionalConf"></a></li>
              </ul>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="columns large-12">
          <ul class="footer-links">
            <li>&copy; 2014, <a href="http://functionalconf.com">Functional Conf</a></li>
            <li>Made with &hearts; by <a href="https://twitter.com/ideamonk" target="_blank">@ideamonk</a> &amp; <a href="http://twitter.com/ghoseb" target="_blank">@ghoseb</a></li>
          </ul>
        </div>
      </div>
    </div>
