    <div class="footer dark">
      <div class="row">
          <div class="columns large-12">
            <div class="social-wrapper">
              <ul class="small-block-grid-5 social-links">
                <li><a class="icon-twitter" href="https://twitter.com/fnConf"></a></li>
                <li><a class="icon-fb" href="https://www.facebook.com/functionalconf"></a></li>
                <li><a class="icon-linkedin" href="https://www.linkedin.com/showcase/functional-conf"></a></li>
                <li><a class="icon-mail" href="mailto:team@functionalconf.com?subject=FunctionalConf"></a></li>
              </ul>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="columns large-12">
          <ul class="footer-links">
            <li>&copy; 2019, <a href="https://functionalconf.com">Functional Conf</a></li>
            <li>Made with &hearts; by <a href="https://twitter.com/ideamonk" target="_blank">@ideamonk</a> &amp; <a href="https://twitter.com/ghoseb" target="_blank">@ghoseb</a></li>
          </ul>
        </div>
      </div>
    </div>
