<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  function LoadGmaps() {
    var myLatlng = new google.maps.LatLng(12.981093,77.575989,15);
    var myOptions = {
      zoom: 16,
      center: myLatlng,
      disableDefaultUI: true,
      panControl: false,
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      },
      mapTypeControl: false,
      streetViewControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("venue-map"), myOptions);
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title:"Fortune Park JP Celestial Hotel, No. 5/43, Race Course Road, Bengaluru 560009"
    });
    var infowindow = new google.maps.InfoWindow({
      content: "Fortune Park JP Celestial Hotel, <br />No. 5/43, Race Course Road <br />Bengaluru - 560009"
    });
    google.maps.event.addListener(map, "tilesloaded", function() {
      infowindow.open(map, marker);
    });
  }
</script>