{% extends "_base_page.html" %}

{% block title %}About Us - Functional Conf 2017{% endblock %}

{% block body_classes %}
page page-about
{% endblock %}

{% block content %}
    <div class="registration">
      <div class="row">
          <div class="columns large-8 large-offset-2">
            <h1>About Us</h1>
              <p>Functional Conf is a hardcore tech conference aimed at bringing together top-notch developers and thinkers, to build tomorrow's technology using Functional Programming concepts.</p>
              <p>Functional Conf, the brainchild of <a href="https://nareshjain.com/">Naresh Jain</a> and <a href="https://functionalconf.com/about.html#organisers">friends</a>, aims at building a functional programming community in India.</p>
              <p><strong>Functional Conf - Core Principles:</strong></p>
              <a name="core-principles"></a>
              <ul>
                  <li><strong>Quality OVER Quantity:</strong> At Functional Conf, we work to offer a richer experience to participants. We believe that less is more - it is never about how many talks we can jam into the program or how many participants we can gather. Rather, it is about building a small, but strong community.</li>
                  <li><strong>Diversity: </strong>We welcome people of any gender identity or expression, race, ethnicity, size, nationality, sexual orientation, ability level, neurotype, religion, elder status, family structure, culture, subculture, political opinion, identity, and self-identification.</li>
                  <li><strong>Zero Marketing: </strong>You cannot pay to get a speaking slot - Conference talks are never sold to sponsors.</li>
                  <li><strong>Respect Privacy: </strong>We at Functional Conf respect and protect your privacy. The conference participant database is never sold or given to sponsors. </li>
                  <li><strong>Tech OVER Process: </strong>The talks here, in general, are code-heavy and not process-oriented. Therefore, if you are interested in Process, have a look at our <a href="https://agileindia.org/">Agile India Conference</a>.</li>
                  <li><strong>Affordable: </strong>With an objective to ensure that participants interested in Functional Conf can fund themselves without relying on their company for sponsorship, we strive to make Functional Conf affordable.</li>
                  <li><strong>Networking</strong>: At Functional Conf, you will learn as much (if not more) by meeting and making connections with other practitioners, sharing your ideas, and building a strong community.</li>
              </ul>

            <h2 class="major" id="organisers"><span>Organising Team</span></h2>
            <div class="small-block-grid-3 speaker-list">
              <li>
                <article class="item">
                  <a href="http://about.me/debasishg" target="_blank" class="avatar">
                    <img src="/static/images/team/DebasishGhosh.png" alt="Debasish Ghosh" title="Debasish Ghosh"/>
                  </a>
                  <header>
                    <h3>Debasish Ghosh</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="https://www.linkedin.com/in/dhavaldalal" target="_blank" class="avatar">
                    <img src="https://avatars3.githubusercontent.com/u/2656650?s=150" alt="Dhaval Dalal" title="Dhaval Dalal"/>
                  </a>
                  <header>
                    <h3>Dhaval Dalal</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="https://confengine.com/user/mushtaq-ahmed" target="_blank" class="avatar">
                    <img src="https://www.gravatar.com/avatar/fcbd52584c357d38f0a3c3a7b2e48bde?s=150&d=mm" alt="Mushtaq Ahmed" title="Mushtaq Ahmed"/>
                  </a>
                  <header>
                    <h3>Mushtaq Ahmed</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="https://nareshjain.com" target="_blank" class="avatar">
                    <img src="https://www.gravatar.com/avatar/c86b1c950ce1088c2065c1e222db47fe?s=150&d=mm" alt="Naresh Jain" title="Naresh Jain"/>
                  </a>
                  <header>
                    <h3>Naresh Jain</h3>
                  </header>
                </article>
              </li>
            </div>

          </div>
      </div>
    </div>
{% endblock %}
