{% extends "_base_page.html" %}

{% block title %}About Us - Functional Conf 2019{% endblock %}

{% block body_classes %}
page page-about
{% endblock %}

{% block content %}
    <div class="registration">
      <div class="row">
          <div class="columns large-8 large-offset-2">
            <h1>About Us</h1>
              <p>Functional Conf is a hardcore tech conference aimed at bringing together top-notch developers and thinkers, to build tomorrow's technology using Functional Programming concepts.</p>
              <p>Functional Conf, the brainchild of <a href="https://nareshjain.com/">Naresh Jain</a>, aims at building a functional programming community in India.</p>
              <p><a name="core-principles"><strong>Functional Conf - Core Principles:</strong></a></p>
              <ul>
                  <li><strong>Quality OVER Quantity: </strong>At Functional Conf, we work to offer a richer experience to participants. We believe that less is more - it is never about how many talks we can jam into the program or how many participants we can gather. Rather, it is about building a small, but strong community.</li>
                  <li><strong>Inclusivity: </strong>We welcome people of any gender identity or expression, race, ethnicity, size, nationality, sexual orientation, ability level, neurotype, religion, elder status, family structure, culture, subculture, political opinion, identity, and self-identification.</li>
                  <li><strong>Zero Marketing: </strong>You cannot pay to get a speaking slot - Conference talks are never sold to sponsors.</li>
                  <li><strong>Respect Privacy: </strong>We at Functional Conf respect and protect your privacy. The conference participant database is never sold or given to sponsors. </li>
                  <li><strong>Tech OVER Process: </strong>The talks here, in general, are code-heavy and not process-oriented. Therefore, if you are interested in Process, have a look at our <a href="https://agileindia.org/">Agile India Conference</a>.</li>
                  <li><strong>Affordable: </strong>With an objective to ensure that participants interested in Functional Conf can fund themselves without relying on their company for sponsorship, we strive to make Functional Conf affordable.</li>
                  <li><strong>Networking</strong>: At Functional Conf, you will learn as much (if not more) by meeting and making connections with other practitioners, sharing your ideas, and building a strong community.</li>
              </ul>
          </div>
      </div>
    </div>
{% endblock %}
