{% extends "_base_page.html" %}

{% block title %}About Us - Functional Conf 2014{% endblock %}

{% block body_classes %}
page page-about
{% endblock %}

{% block content %}
    <div class="registration">
      <div class="row">
          <div class="columns large-8">
            <h1>About Us</h1>
            <p>Functional Conf is a hard-core tech conference that aims to bring together top-notch developers and thinkers building tomorrow's technology using Functional Programming concepts.</p>
            <p>The initial idea of Functional Conf was conceived by <a href="http://nareshjain.com" target="_blank">Naresh Jain</a> and <a href="#organisers">friends</a>. The aim was to build a functional programming community in India.</p>
            <p>Core Principles of Functional Conf:</p>
            <ul class="style1">
              <li><strong>Quality OVER Quantity:</strong> At Functional Conf, we believe in staying small and providing a richer experience to the participants. Its never about how many talks we can jam into the program or how many participants we can gather. Its about building a small, but strong community.</li>
              <li><strong>Zero Marketing:</strong> You cannot pay to get a speaking slot. Conference talks are never sold to sponsors.</li>
              <li><strong>Respect Privacy:</strong>The conference participant database is never sold or given to sponsors. We respect and protect your privacy.</li>
              <li><strong>Tech OVER Process:</strong> Talks are in general code-heavy, not process-oriented. If you are interested in Process, you should check <a href="http://agileindia.org" target="_blank">Agile India Conference</a>.</li>
              <li><strong>Moderately Priced:</strong> At Functional Conf we strive really hard to make the conference affordable. Our aim is to ensure that interested participants should be able pay out of their pocket, without having to depend on their company for sponsorship.</li>
              <li><strong>Networking:</strong> At Functional Conf you will learn as much (if not more) by meeting other practitioners, making connections with them, sharing your ideas, and building a strong community.</li>
            </ul>


            <h2 class="major" id="organisers"><span>Organising Team</span></h2>
            <div class="small-block-grid-3 speaker-list">
              <li>
                <article class="item">
                  <a href="http://www.agiledeveloper.com/aboutus.html" target="_blank" class="avatar">
                    <img src="/static/images/team/VenkatSubramaniam.png" alt="Venkat Subramaniam" title="Venkat Subramaniam" />
                  </a>
                  <header>
                    <h3>Venkat Subramaniam</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="http://www.linkedin.com/in/ghoseb" target="_blank" class="avatar">
                    <img src="http://www.gravatar.com/avatar/8aa4490274249db8981283bdadb2ec2b?s=150&amp;d=mm" alt="Baishampayan Ghose" title="Baishampayan Ghose">
                  </a>
                  <header>
                    <h3>Baishampayan Ghose</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="http://nareshjain.com" target="_blank" class="avatar">
                    <img src="http://www.gravatar.com/avatar/c86b1c950ce1088c2065c1e222db47fe?s=150&d=mm" alt="Naresh Jain" title="Naresh Jain"/>
                  </a>
                  <header>
                    <h3>Naresh Jain</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="http://www.sadalage.com/" target="_blank" class="avatar">
                    <img src="http://www.gravatar.com/avatar/726c66294f0b6a071bb95458344ccfff?s=150&d=mm" alt="Pramod Sadalage" title="Pramod Sadalage"/>
                  </a>
                  <header>
                    <h3>Pramod Sadalage</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="http://confengine.com/user/ravi-kumar" target="_blank" class="avatar">
                    <img src="http://www.gravatar.com/avatar/05f75bce9f2e4e229f586e2b1a36c9d1?s=150&d=mm" alt="Ravi Kumar" title="Ravi Kumar"/>
                  </a>
                  <header>
                    <h3>Ravi Kumar</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="https://www.linkedin.com/in/dhavaldalal" target="_blank" class="avatar">
                    <img src="https://avatars3.githubusercontent.com/u/2656650?s=150" alt="Dhaval Dalal" title="Dhaval Dalal"/>
                  </a>
                  <header>
                    <h3>Dhaval Dalal</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="http://confengine.com/user/mushtaq-ahmed" target="_blank" class="avatar">
                    <img src="http://www.gravatar.com/avatar/fcbd52584c357d38f0a3c3a7b2e48bde?s=150&d=mm" alt="Mushtaq Ahmed" title="Mushtaq Ahmed"/>
                  </a>
                  <header>
                    <h3>Mushtaq Ahmed</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="http://about.me/debasishg" target="_blank" class="avatar">
                    <img src="/static/images/team/DebasishGhosh.png" alt="Debasish Ghosh" title="Debasish Ghosh"/>
                  </a>
                  <header>
                    <h3>Debasish Ghosh</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="https://twitter.com/ScriptDevil" target="_blank" class="avatar">
                    <img src="https://avatars0.githubusercontent.com/u/85740?s=150" alt="Ashok Gautham" title="Ashok Gautham"/>
                  </a>
                  <header>
                    <h3>Ashok Gautham</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="http://missingfaktor.blogspot.in/" target="_blank" class="avatar">
                    <img src="https://avatars2.githubusercontent.com/u/1016826?s=150" alt="Rahul Phulore" title="Rahul Phulore"/>
                  </a>
                  <header>
                    <h3>Rahul Phulore</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="http://mohitthatte.com/" target="_blank" class="avatar">
                    <img src="https://avatars2.githubusercontent.com/u/193407?s=150" alt="Mohit Thatte" title="Mohit Thatte"/>
                  </a>
                  <header>
                    <h3>Mohit Thatte</h3>
                  </header>
                </article>
              </li>
              <li>
                <article class="item">
                  <a href="http://blog.gja.in/" class="avatar">
                    <img src="/static/images/team/TejasDinkar.png" alt="Tejas Dinkar" title="Tejas Dinkar" />
                  </a>
                  <header>
                    <h3>Tejas Dinkar</h3>
                  </header>
                </article>
              </li>
            </div>

          </div>
      </div>
    </div>
  </div>
{% endblock %}
