{% extends "_base_page.html" %}

{% block title %}Past Functional Conferences{% endblock %}

{% block body_classes %}
page page-archive
{% endblock %}

{% block content %}
    <div class="schedule-wrapper">
    <div class="row">
          <div class="columns large-8 large-offset-2">
            <h1>Past Functional Conferences</h1>

            <ol>
              <li><a href="/2017">Functional Conf 2017</a> </li>
              <li><a href="/2016">Functional Conf 2016</a> </li>
              <li><a href="/2015">Functional Conf 2015</a> </li>
              <li><a href="/2014">Functional Conf 2014</a> </li>
            </ol>

          </div>
       </div>
    </div>
{% endblock %}
