{% extends "_base.html" %}

{% block title %}Functional Conf - Asia's Premier Functional Programming Conference{% endblock %}

{% block body_classes %}
page-index
{% endblock %}

{% block header %}
<div class="header dark">
    <div class="row row--topnav">
        <div class="large-12 columns">
            {% include "_topnav.html" %}
        </div>
    </div>
    <div class="row row--header">
        <div class="columns large-5 wizard">
        </div>
        <div class="columns large-7 intro-wrapper">
            <h1 class="logo">Functional Conf</h1>
            <div class="subtitle">Asia's Premier Functional Programming Conference</div>
            <a class="schedule" href="schedule.html">Dec 12&mdash;16, 2018</a>
            <a class="venue" href="venue.html">
                The Grand Magrath Hotel<br/>
                Bengaluru
            </a>
            <a class="button button--register" href="https://confengine.com/functional-conf-2018/register/selection" target="_blank">Register</a>
            <a class="button button--register" href="https://confengine.com/functional-conf-2018/schedule/rich">Schedule</a>
            <ul class="langs inline-list">
                <li class="lang-clojure"></li>
                <li class="lang-erlang"></li>
                <li class="lang-scheme"></li>
                <li class="lang-scala"></li>
                <li class="lang-ocaml"></li>
                <li class="lang-haskell"></li>
                <li class="lang-lisp"></li>
                <li class="lang-java"></li>
                <li class="lang-elixir"></li>
                <li class="lang-f"></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="about">
    <div class="row">
        <div class="columns large-8 large-offset-1">
            <h1>About the Conference</h1>

            <div style="width: 150%; padding: 20px 0">
                <div style="float: left; padding-right: 15px">
                    <iframe width="450" height="305" src="//www.youtube.com/embed/videoseries?list=PL9Z-JgiTsOYRRnQ8iWIIQr01q_2euSyfD" frameborder="0" allowfullscreen></iframe>
                </div>
                <div style="float: left; text-align: center">
                    <a href="https://photos.app.goo.gl/fMQyTNLmH3QyqHOm1" target="_blank">
                        <img src="/static/images/FnConf17.jpg" alt="Functional Conf 2017">
                        <h3 style="margin-top: 25px">Photos from Functional Conf 2017</h3>
                    </a>
                </div>
                <div style="clear: both"></div>
            </div>
            <p>Functional programming (FP) has been a hot research topic for over three decades now. However, in the last five years, driven by the need to <em>build massively concurrent systems</em> and to <em>handle big-data in smarter ways</em>, diverse companies - ranging from tech start-ups to
                financial institutes - are rapidly adopting FP concepts.</p>
            <p>Currently, FP is at the heart of every new generation programming technology. Companies are employing FP to actuate more <em>effective, robust, and flexible </em>software development. This has given birth to an extremely vibrant community of functional programmers, who are constantly
                exploring new and varied ways to bring in FP concepts to the enterprise software development world.</p>
            <p><strong>Functional Conf </strong>is designed to bring together the growing community of functional programmers under one roof. </p>
            <p>In 2018, we plan to structure the conference as follows:</p>
            <ul>
                <li><b>Pre-Conference Paid Workshops</b> - Full Day hands-on workshops by our international speakers to allow you to go deep into a specific topic. Each workshop is capped at around 20 participants.</li>
                <li>
                    <b>FP Bootcamp</b>: A full day program for Developers, who want to kick start their FP journey. Participants would be able to pick anyone from the following tracks and stick to it for the full day.
                    <ul>
                        <li>Haskell Ecosystem</li>
                        <li>Erlang Ecosystem</li>
                        <li>JVM Ecosystem</li>
                    </ul>
                </li>
                <li>
                    <b>Apply FP</b>: A full day program, with 3 parallel tracks for Developers, who understand the basics of FP, maybe even practice some FP at work. Helping them understand how they can apply even more FP concepts more at work.
                </li>
                <li>
                    <b>Mastering FP</b>: A full day program, with 3 parallel tracks for Developers, who already apply a decent amount of FP concepts at work. Developers, who want to go deeper and maybe even become a contributor to a FP language or library.
                </li>
                <li><b>Post-Conference Paid Workshops</b> - Full Day hands-on workshops by our international speakers to allow you to go deep into a specific topic. Each workshop is capped at around 20 participants.</li>
            </ul>
            <p>At Functional Conf:</p>
            <ul>
                <li>Participants can understand the fundamental concepts of FP</li>
                <li>Participants can learn how others are leveraging FP to solve real world problems</li>
                <li>Experts can share their expertise on practical usages and gotchas in FP concepts</li>
                <li>Practitioners can meet peers and exchange real-world experience</li>
            </ul>

        </div>
        <div class="large-3 columns bookmark">
            <div class="social-wrapper dark">
                <ul class="small-block-grid-1 social-links">
                    <li><a class="icon-twitter" href="https://twitter.com/fnConf" target="_blank"></a></li>
                    <li><a class="icon-fb" href="https://www.facebook.com/functionalconf" target="_blank"></a></li>
                    <li><a class="icon-linkedin" href="https://www.linkedin.com/groups/Functional-Conf-6626650/about" target="_blank"></a></li>
                    <li><a class="icon-plus" href="https://plus.google.com/u/0/communities/108445265387298883578" target="_blank"></a></li>
                    <li><a class="icon-mail" href="mailto:team@functionalconf.com?subject=FunctionalConf" target="_blank"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="speakers dark">
    <div class="row">
        <div class="columns large-10 large-offset-1">
            <a name="speakers"></a>
            <h1>Invited Speakers</h1>

            <ul class="small-block-grid-2 large-block-grid-4 speaker-list">
                <li>
                    <a href="https://confengine.com/user/anne-ogborn" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1536745698/ProfilePics/ielwgmum4hah6xd0u2hp.jpg" alt="Anne Ogborn" title="Anne Ogborn"/>
                        <h3 class="name">Anne Ogborn</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/aaron-w-hsu" target="_blank">
                        <img src="https://avatars0.githubusercontent.com/u/1235230?v=3&s=200" alt="Aaron W. Hsu" title="Aaron W. Hsu"/>
                        <h3 class="name">Aaron W. Hsu</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/brian-mckenna-1" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1472786294/ProfilePics/mutufhorfgudzm3fhgrm.jpg" alt="Brian McKenna" title="Brian McKenna"/>
                        <h3 class="name">Brian McKenna</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/debasish-ghosh" target="_blank">
                        <img src="/static/images/speakers/debasish.png" alt="Debasish Ghosh" title="Debasish Ghosh"/>
                        <h3 class="name">Debasish Ghosh</h3>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/emilypi" target="_blank">
                        <img src="https://www.gravatar.com/avatar/43107bacd6da96e9b3e82d66d65110cb?s=201&r=pg&d=mm" alt="Emily Pillmore" title="Emily Pillmore"/>
                        <h3 class="name">Emily Pillmore</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/michael-snoyman" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1537894608/ProfilePics/bh1uzscyx6sdmn9vkmwa.jpg" alt="Michael Snoyman" title="Michael Snoyman"/>
                        <h3 class="name">Michael Snoyman</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/morten-kromberg" target="_blank">
                        <img src="/static/images/speakers/morten.png" alt="Morten Kromberg" title="Morten Kromberg"/>
                        <h3 class="name">Morten Kromberg</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/tony-morris" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1500468071/ProfilePics/yj7p1xgvn2shz06ufydr.jpg" alt="Tony Morris" title="Tony Morris"/>
                        <h3 class="name">Tony Morris</h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="sponsors" id="sponsors">

    <div class="row">
        <div class="columns large-10 large-offset-1">

            <h1>Sponsors</h1>

            <div class="sponsor">
                <div class="columns large-3 meta">
                    <div class="tag">
                        Platinum
                    </div>
                    <a href="https://www.erlang-solutions.com/" target="_blank"><img src="/static/images/erlangsolutions.png" alt="Erlang Solutions" title="Erlang Solutions"/></a>
                </div>
                <div class="columns large-9">
                    <div class="info">
                        We develop and build trusted, fault-tolerant systems that can scale to billions of users. We free our partners from operational complexity so they can focus on their business growth. We have over 300 clients in our portfolio - from start-ups to Fortune 500 companies, our
                        Erlang &amp; Elixir expertise is the backbone to their operations.
                        <br/> <br/>
                        We're a talented team of software experts, passionate about Erlang/OTP & Elixir and with an unwavering belief in the open-source future. We offer a wide range of products, on-site/remote consulting, support and mobile development to architecture/code reviews and training.
                        <br/> <br/>
                        We employ over 100 specialists working out of our headquarters in London and our offices in Stockholm, Krakow, Budapest, Berlin, San Francisco, Seattle and Buenos Aires. We speak 15 languages (excluding dialects) at the last count; we are open and friendly and working
                        together comes naturally and brings a multitude of rewards.
                    </div>
                </div>
            </div>

            <div class="sponsor">
                <div class="columns large-3 meta">
                    <div class="tag">
                        Gold
                    </div>
                    <a href="https://www.dyalog.com/" target="_blank"><img src="/static/images/logo-dyalog.png" alt="Dyalog" title="Dyalog"/></a>
                </div>
                <div class="columns large-9">
                    <div class="info">
                        <a href="https://www.dyalog.com/" target="_blank">Dyalog</a> delivers an APL-based development environment that allows users to create strong software solutions.
                        <br/> <br/>
                        Dyalog is primarily a tool of thought, enabling subject matter experts to be key contributors in the software development process irrespective of whether they have experience within software development.
                        <br/> <br/>
                        Dyalog is particularly well suited when tasks are of an analytical or mathematical nature. Through rapid prototyping of both simple and complex processes, users can create reliable, flexible and high performance solutions.
                        <br/> <br/>
                        Today Dyalog is in daily use in many major corporations throughout the world.
                    </div>
                </div>
            </div>

            <div style="text-align: center">
                <a class="button dark" href="https://confengine.com/functional-conf-2018/sponsor#guide" target="_blank">Become a Sponsor</a>
            </div>

        </div>
    </div>

</div>

<div class="speakers dark" id="organisers">
    <div class="row">
        <div class="columns large-10 large-offset-1">
            <h1>Organising Team</h1>
            <ul class="small-block-grid-2 large-block-grid-4 speaker-list">
                <li>
                    <a href="https://confengine.com/user/debasish-ghosh" target="_blank">
                        <img src="/static/images/speakers/debasish.png" alt="Debasish Ghosh" title="Debasish Ghosh"/>
                        <h3 class="name">Debasish Ghosh</h3>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/francescocesarini" target="_blank">
                        <img src="https://avatars0.githubusercontent.com/u/979065?v=3&s=200" alt="Francesco Cesarini" title="Francesco Cesarini"/>
                        <h3 class="name">Francesco Cesarini</h3>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/dhavaldalal" target="_blank">
                        <img src="https://avatars3.githubusercontent.com/u/2656650?s=150" alt="Dhaval Dalal" title="Dhaval Dalal"/>
                        <h3 class="name">Dhaval Dalal</h3>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/emilypi" target="_blank">
                        <img src="https://www.gravatar.com/avatar/43107bacd6da96e9b3e82d66d65110cb?s=201&r=pg&d=mm" alt="Emily Pillmore" title="Emily Pillmore"/>
                        <h3 class="name">Emily Pillmore</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/gyanendra-aggarwal" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1496081064/ProfilePics/ibizhlenw1whao9dwipk.jpg" alt="Gyanendra Aggarwal" title="Gyanendra Aggarwal"/>
                        <h3 class="name">Gyanendra Aggarwal</h3>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/lauracastro/" target="_blank">
                        <img src="https://www.gravatar.com/avatar/a3616292771c172631c5b63555ef3d48?s=201&r=pg&d=mm" alt="Laura M. Castro" title="Laura M. Castro"/>
                        <h3 class="name">Laura M. Castro</h3>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/miriampena/" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1533009406/ProfilePics/b9bgyejtnpoocqfdlfvr.jpg" alt="Miriam Pena" title="Miriam Pena"/>
                        <h3 class="name">Miriam Pena</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/mushtaq-ahmed" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1524477696/ProfilePics/v81x8azuuzajzet80lfx.jpg" alt="Mushtaq Ahmed" title="Mushtaq Ahmed"/>
                        <h3 class="name">Mushtaq Ahmed</h3>
                    </a>
                </li>
                <li>
                    <a href="https://nareshjain.com" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1465493936/ProfilePics/rxircqdkuojtjivzzvme.jpg" alt="Naresh Jain" title="Naresh Jain"/>
                        <h3 class="name">Naresh Jain</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/ravindra-jaju" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1542712246/ProfilePics/gln9op00zyvwq3nxlals.jpg" alt="Ravindra Jaju" title="Ravindra Jaju"/>
                        <h3 class="name">Ravindra Jaju</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/tony-morris" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1500468071/ProfilePics/yj7p1xgvn2shz06ufydr.jpg" alt="Tony Morris" title="Tony Morris"/>
                        <h3 class="name">Tony Morris</h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
