{% extends "_base.html" %}

{% block title %}Functional Conf - Asia's Premier Functional Programming Conference{% endblock %}

{% block body_classes %}
page-index
{% endblock %}

{% block header %}
<div class="header dark">
    <div class="row row--topnav">
        <div class="large-12 columns">
            {% include "_topnav.html" %}
        </div>
    </div>
    <div class="row row--header">
        <div class="columns large-5 wizard">
        </div>
        <div class="columns large-7 intro-wrapper">
            <h1 class="logo">Functional Conf</h1>
            <div class="subtitle">Asia's Premier Functional Programming Conference</div>
            <a class="schedule" href="schedule.html">Nov 13&mdash;17, 2019</a>
            <a class="venue" href="venue.html">
                ITC WelcomHotel<br/>
                Bengaluru
            </a>
            <a class="button button--register" href="https://confengine.com/functional-conf-2019/register/selection" target="_blank">Register</a>
            <a class="button button--register" href="https://confengine.com/functional-conf-2019/schedule/rich">DRAFT Schedule</a>
            <ul class="langs inline-list">
                <li class="lang-clojure"></li>
                <li class="lang-erlang"></li>
                <li class="lang-scheme"></li>
                <li class="lang-scala"></li>
                <li class="lang-ocaml"></li>
                <li class="lang-haskell"></li>
                <li class="lang-lisp"></li>
                <li class="lang-java"></li>
                <li class="lang-elixir"></li>
                <li class="lang-f"></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="about">
    <div class="row">
        <div class="columns large-8 large-offset-1">
            <h1>About the Conference</h1>

            <p>Functional programming (FP) has been a hot research topic for over three decades now. However, in the last five years, driven by the need to <em>build massively concurrent systems</em> and to <em>handle big-data in smarter ways</em>, diverse companies - ranging from tech start-ups to
                financial institutes - are rapidly adopting FP concepts.</p>
            <p>Currently, FP is at the heart of every new generation programming technology. Companies are employing FP to actuate more <em>effective, robust, and flexible </em>software development. This has given birth to an extremely vibrant community of functional programmers, who are constantly
                exploring new and varied ways to bring in FP concepts to the enterprise software development world.</p>
            <p><strong>Functional Conf </strong>is designed to bring together the growing community of functional programmers under one roof. </p>

            <div style="text-align: center; margin: 1.5em auto">
                <img src="/static/images/code-beam-lite.jpg" style="max-width: 100%">
                <br>First Code Beam Lite Conference in India
                <br>Nov 14th, Hosted by Functional Conf
                <p style="text-align: left; font-size: 0.65em">Explore how BEAM technologies, including Erlang and Elixir, are employed in some of the world's most cutting edge development.</p>
            </div>

            <div style="width: 150%; padding: 20px 0; text-align: center">
                <div style="float: left; padding-right: 15px">
                    <iframe width="450" height="305" src="//www.youtube.com/embed/videoseries?list=PL9Z-JgiTsOYTtq49muYrjsERqTZcahEZL" frameborder="0" allowfullscreen></iframe>
                    <a href="https://www.youtube.com/playlist?list=PL9Z-JgiTsOYTtq49muYrjsERqTZcahEZL" target="_blank">
                        <h4>Functional Conf 2018 Videos</h4>
                    </a>
                </div>
                <div style="float: left">
                    <iframe width="450" height="305" src="https://www.youtube.com/embed/rZ_7sB3l3S8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <a href="https://photos.app.goo.gl/2mBRPjGMaC14XJbN6" target="_blank">
                        <h4>Functional Conf 2018 Photos</h4>
                    </a>
                </div>
                <div style="clear: both"></div>
            </div>

            <h2>Agenda</h2>
            <p>In 2019, we plan to structure the conference as follows:</p>
            <ul>
                <li><strong>Pre-Conference Paid Workshops</strong>
                    <ul>
                        <li><a href="https://confengine.com/functional-conf-2019/register/selection#workshop-282-info" target="_blank" rel="noopener">Designing Elixir Systems with OTP by Bruce Tate</a></li>
                        <li><a href="https://confengine.com/functional-conf-2019/register/selection#workshop-283-info" target="_blank" rel="noopener">Applied Haskell Workshop by Michael Snoyman</a></li>
                        <li><a href="https://confengine.com/functional-conf-2019/register/selection#workshop-284-info" target="_blank" rel="noopener">Introduction to Logic Programming and SWI-Prolog by Anne Ogborn</a></li>
                    </ul>
                </li>
                <li><a href="https://confengine.com/functional-conf-2019/schedule/rich#1573689600" target="_blank" rel="noopener">Code Beam Lite</a></li>
                <li><strong>FP Bootcamp</strong>: A full-day program for Developers, who want to kick start their FP journey. Participants would be able to pick anyone from the following tracks and stick to it for the full day.
                    <ul>
                        <li><a href="https://confengine.com/functional-conf-2019/schedule/rich#1573689600" target="_blank" rel="noopener">Haskell Ecosystem</a></li>
                        <li><a href="https://confengine.com/functional-conf-2019/schedule/rich#1573689600" target="_blank" rel="noopener">JVM Ecosystem</a></li>
                    </ul>
                </li>
                <li><a href="https://confengine.com/functional-conf-2019/schedule/rich#1573776000" target="_blank" rel="noopener"><strong>Apply FP</strong></a>: A full-day program, with 3 parallel tracks for Developers, who understand the basics of FP, maybe even practice some FP at work. Helping them understand how they can apply even more FP concepts more at work.</li>
                <li><a href="https://confengine.com/functional-conf-2019/schedule/rich#1573862400" target="_blank" rel="noopener"><strong>Mastering FP</strong></a>: A full-day program, with 3 parallel tracks for Developers, who already apply a decent amount of FP concepts at work. Developers, who want to go deeper and maybe even become a contributor to a FP language or library.</li>
                <li><strong>Post-Conference Paid Workshops</strong>
                    <ul>
                        <li><a href="https://confengine.com/functional-conf-2019/register/selection#workshop-285-info" target="_blank" rel="noopener">Let's Lens by Edward Kmett and Tony Morris</a></li>
                        <li><a href="https://confengine.com/functional-conf-2019/register/selection#workshop-286-info" target="_blank" rel="noopener">Building a real-time, reliable, resilient web application in one day with Elixir and Phoenix by Andrea Leopardi</a></li>
                        <li><a href="https://confengine.com/functional-conf-2019/register/selection#workshop-287-info" target="_blank" rel="noopener">APL Workshop Intensive by Aaron W Hsu and Morten Kromberg</a></li>
                    </ul>
                </li>
            </ul>
            <h3>At Functional Conf:</h3>
            <ul>
                <li>Participants can understand the fundamental concepts of FP</li>
                <li>Participants can learn how others are leveraging FP to solve real world problems</li>
                <li>Experts can share their expertise on practical usages and gotchas in FP concepts</li>
                <li>Practitioners can meet peers and exchange real-world experience</li>
            </ul>

        </div>
        <div class="large-3 columns bookmark">
            <div class="social-wrapper dark">
                <ul class="small-block-grid-1 social-links">
                    <li><a class="icon-twitter" href="https://twitter.com/fnConf" target="_blank"></a></li>
                    <li><a class="icon-fb" href="https://www.facebook.com/functionalconf" target="_blank"></a></li>
                    <li><a class="icon-linkedin" href="https://www.linkedin.com/showcase/functional-conf" target="_blank"></a></li>
                              <li><a class="icon-mail" href="mailto:team@functionalconf.com?subject=FunctionalConf" target="_blank"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="speakers dark">
    <div class="row">
        <div class="columns large-10 large-offset-1">
            <a name="speakers"></a>
            <h1>Our Speakers</h1>

            <ul class="small-block-grid-2 large-block-grid-4 speaker-list">
                <li>
                    <a href="https://confengine.com/user/aaron-w-hsu" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1542968374/ProfilePics/zgm8ux4oswpojj7gmbwg.jpg" alt="Aaron W Hsu">
                        <h3 class="name" title="Aaron W Hsu">Aaron W Hsu</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/adam-granicz" target="_blank">
                        <img src="https://graph.facebook.com/v2.10/10219815655642986/picture?type=large&amp;width=201" alt="Adam Granicz">
                        <h3 class="name" title="Adam Granicz">Adam Granicz</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/aditya-athalye-1" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1507212634/ProfilePics/htnqctehebcl9titnj0g.jpg" alt="Aditya Athalye">
                        <h3 class="name" title="Aditya Athalye">Aditya Athalye</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/alexander-granin" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1566547112/ProfilePics/ghea7oieghvvzp66iovm.jpg" alt="Alexander Granin">
                        <h3 class="name" title="Alexander Granin">Alexander Granin</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/andrea-leopardi" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1563079941/ProfilePics/s3pqpxtn7de2kwzlo9ld.jpg" alt="Andrea Leopardi">
                        <h3 class="name" title="Andrea Leopardi">Andrea Leopardi</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/anne-ogborn" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1536745698/ProfilePics/ielwgmum4hah6xd0u2hp.jpg" alt="Anne Ogborn">
                        <h3 class="name" title="Anne Ogborn">Anne Ogborn</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/anupam-jain" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1542968461/ProfilePics/eiakiw1dulwsxnp9hzkt.jpg" alt="Anupam Jain">
                        <h3 class="name" title="Anupam Jain">Anupam Jain</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/bruce-tate" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1561859650/ProfilePics/rshst2vnpiw7ne6utpvd.jpg" alt="Bruce Tate">
                        <h3 class="name" title="Bruce Tate">Bruce Tate</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/edward-kmett" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1517982293/ProfilePics/upgzgcmwthytphxhuxip.png" alt="Edward Kmett">
                        <h3 class="name" title="Edward Kmett">Edward Kmett</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/harald-schult-ulriksen" target="_blank">
                        <img src="https://www.gravatar.com/avatar/55a1a659d6d34e39ad3a2a71584a1dd4?s=201&amp;r=pg&amp;d=mm" alt="Harald Schult Ulriksen">
                        <h3 class="name" title="Harald Schult Ulriksen">Harald Schult Ulriksen</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/harendra-kumar" target="_blank">
                        <img src="https://lh3.googleusercontent.com/a-/AAuE7mDKETiE_1OEdSEnYTLp8XjzLKeEmTsAMGIsQG-Tnw" alt="Harendra Kumar">
                        <h3 class="name" title="Harendra Kumar">Harendra Kumar</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/marshall-lochbaum" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1569117541/ProfilePics/srx1pls97ufz6iks2a8y.png" alt="Marshall Lochbaum">
                        <h3 class="name" title="Marshall Lochbaum">Marshall Lochbaum</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/michael-snoyman" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1542969000/ProfilePics/gkdwotxezznpuxnqsmf5.jpg" alt="Michael Snoyman">
                        <h3 class="name" title="Michael Snoyman">Michael Snoyman</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/morten-kromberg" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1542969032/ProfilePics/cujbr9wcwkpgcgbn8rik.jpg" alt="Morten Kromberg">
                        <h3 class="name" title="Morten Kromberg">Morten Kromberg</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/saurabh-nanda" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1510909447/ProfilePics/e2kh6d5gdp68gddcjjzw.jpg" alt="Saurabh Nanda">
                        <h3 class="name" title="Saurabh Nanda">Saurabh Nanda</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/tamizhvendan-s" target="_blank">
                        <img src="https://www.gravatar.com/avatar/c6dbbb399f7658917f60bd1e2a2663ed?s=201&amp;r=pg&amp;d=mm" alt="Tamizhvendan S">
                        <h3 class="name" title="Tamizhvendan S">Tamizhvendan S</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/tony-morris" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1500468071/ProfilePics/yj7p1xgvn2shz06ufydr.jpg" alt="Tony Morris">
                        <h3 class="name" title="Tony Morris">Tony Morris</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/yogesh-sajanikar-1" target="_blank">
                        <img src="https://lh3.googleusercontent.com/a-/AAuE7mBOr5erbh8CkigYs0shY7s--3-NTxj__aalfF-Yrg" alt="Yogesh Sajanikar">
                        <h3 class="name" title="Yogesh Sajanikar">Yogesh Sajanikar</h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="sponsors" id="sponsors">

    <div class="row">
        <div class="columns large-10 large-offset-1">

            <h1>Sponsors</h1>

            <div class="sponsor">
                <div class="columns large-3 meta">
                    <div class="tag">
                        Title
                    </div>
                    <a href="https://www.gojek.io/" target="_blank"><img src="/static/images/gojek.png" alt="GO-JEK" title="GO-JEK" /></a>
                </div>
                <div class="columns large-9">
                    <div class="info">
                        <p>GOJEK is a Super App. It's one app for ordering food, commuting, digital payments, shopping, hyper-local delivery, getting a massage and two dozen services. It is Indonesia's first unicorn and has expanded to five countries now.</p>
                        <p>GO-JEK Engineering India is the Bengaluru-based product development and training centre of GO-JEK. The GO-JEK Engineering India team comprises of developers, data scientists, designers and product managers who work on product innovation, mining data and crafting consumer experiences. The company takes pride in its world-class product engineering team who have a deep-rooted passion for working with the engineering community in India on topics such as innovation and Open Source.</p>
                    </div>
                </div>
            </div>

            <div class="sponsor">
                <div class="columns large-3 meta">
                    <div class="tag">
                        Platinum
                    </div>
                    <a href="https://www.erlang-solutions.com/" target="_blank"><img src="/static/images/erlangsolutions.png" alt="Erlang Solutions" title="Erlang Solutions"/></a>
                </div>
                <div class="columns large-9">
                    <div class="info">
                        We develop and build trusted, fault-tolerant systems that can scale to billions of users. We free our partners from operational complexity so they can focus on their business growth. We have over 300 clients in our portfolio - from start-ups to Fortune 500 companies, our
                        Erlang &amp; Elixir expertise is the backbone to their operations.
                        <br/> <br/>
                        We're a talented team of software experts, passionate about Erlang/OTP & Elixir and with an unwavering belief in the open-source future. We offer a wide range of products, on-site/remote consulting, support and mobile development to architecture/code reviews and training.
                        <br/> <br/>
                        We employ over 100 specialists working out of our headquarters in London and our offices in Stockholm, Krakow, Budapest, Berlin, San Francisco, Seattle and Buenos Aires. We speak 15 languages (excluding dialects) at the last count; we are open and friendly and working
                        together comes naturally and brings a multitude of rewards.
                    </div>
                </div>
            </div>

            <div class="sponsor">
                <div class="columns large-3 meta">
                    <div class="tag">
                        Gold
                    </div>
                    <a href="https://www.dyalog.com/" target="_blank"><img src="/static/images/logo-dyalog.png" alt="Dyalog" title="Dyalog"/></a>
                </div>
                <div class="columns large-9">
                    <div class="info">
                        <a href="https://www.dyalog.com/" target="_blank">Dyalog</a> delivers an APL-based development environment that allows users to create strong software solutions.
                        <br/> <br/>
                        Dyalog is primarily a tool of thought, enabling subject matter experts to be key contributors in the software development process irrespective of whether they have experience within software development.
                        <br/> <br/>
                        Dyalog is particularly well suited when tasks are of an analytical or mathematical nature. Through rapid prototyping of both simple and complex processes, users can create reliable, flexible and high performance solutions.
                        <br/> <br/>
                        Today Dyalog is in daily use in many major corporations throughout the world.
                    </div>
                </div>
            </div>

            <div style="text-align: center">
                <a class="button dark" href="https://confengine.com/functional-conf-2019/sponsor#guide" target="_blank">Become a Sponsor</a>
            </div>

        </div>
    </div>

</div>

<div class="speakers dark" id="organisers">
    <div class="row">
        <div class="columns large-10 large-offset-1">
            <h1>Organising Team</h1>
            <ul class="small-block-grid-2 large-block-grid-4 speaker-list">
                <li>
                    <a href="https://confengine.com/user/debasish-ghosh" target="_blank">
                        <img src="/static/images/speakers/debasish.png" alt="Debasish Ghosh" title="Debasish Ghosh"/>
                        <h3 class="name">Debasish Ghosh</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/dhaval-dalal-1" target="_blank">
                        <img src="https://avatars3.githubusercontent.com/u/2656650?s=150" alt="Dhaval Dalal" title="Dhaval Dalal"/>
                        <h3 class="name">Dhaval Dalal</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/emily-pillmore" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1562115560/ProfilePics/sksjbwdw0zmgxkjyggjg.jpg" alt="Emily Pillmore" title="Emily Pillmore"/>
                        <h3 class="name">Emily Pillmore</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/francesco-cesarini" target="_blank">
                        <img src="https://avatars0.githubusercontent.com/u/979065?v=3&s=200" alt="Francesco Cesarini" title="Francesco Cesarini"/>
                        <h3 class="name">Francesco Cesarini</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/gyanendra-aggarwal" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1496081064/ProfilePics/ibizhlenw1whao9dwipk.jpg" alt="Gyanendra Aggarwal" title="Gyanendra Aggarwal"/>
                        <h3 class="name">Gyanendra Aggarwal</h3>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/lauracastro/" target="_blank">
                        <img src="https://www.gravatar.com/avatar/a3616292771c172631c5b63555ef3d48?s=201&r=pg&d=mm" alt="Laura M. Castro" title="Laura M. Castro"/>
                        <h3 class="name">Laura M. Castro</h3>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/miriampena/" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1533009406/ProfilePics/b9bgyejtnpoocqfdlfvr.jpg" alt="Miriam Pena" title="Miriam Pena"/>
                        <h3 class="name">Miriam Pena</h3>
                    </a>
                </li>
                <li>
                    <a href="https://nareshjain.com" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1465493936/ProfilePics/rxircqdkuojtjivzzvme.jpg" alt="Naresh Jain" title="Naresh Jain"/>
                        <h3 class="name">Naresh Jain</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/ravindra-jaju" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1542712246/ProfilePics/gln9op00zyvwq3nxlals.jpg" alt="Ravindra Jaju" title="Ravindra Jaju"/>
                        <h3 class="name">Ravindra Jaju</h3>
                    </a>
                </li>
                <li>
                    <a href="https://confengine.com/user/tony-morris" target="_blank">
                        <img src="https://res.cloudinary.com/dnnqsdghx/image/upload/w_201,h_201,f_auto,q_auto:best,c_thumb,g_face,z_0.8/v1500468071/ProfilePics/yj7p1xgvn2shz06ufydr.jpg" alt="Tony Morris" title="Tony Morris"/>
                        <h3 class="name">Tony Morris</h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
