{% extends "_base.html" %}

{% block title %}Functional Conf - Asia's Premier Functional Programming Conference{% endblock %}

{% block body_classes %}
page-index
{% endblock %}

{% block header %}
<div class="header dark">
  <div class="row row--topnav">
    <div class="large-12 columns">
      {% include "_topnav.html" %}
    </div>
  </div>
  <div class="row row--header">
    <div class="columns large-4 wizard">
    </div>
    <div class="columns large-8 intro-wrapper">
      <h1 class="logo">Functional Conf</h1>
      <div class="subtitle">Asia's Premier Functional Programming Conference</div>
      <a class="schedule" href="schedule.html">Oct 13&mdash;16, 2016</a>
      <a class="venue" href="venue.html">
        Hotel Chancery Pavilion<br />
        Bangalore
      </a>
      <a class="button button--register" href="speaker.html">Call For Proposals</a>
      <a class="button button--register" href="register.html" style="margin-left: 5px;">Register</a>
      <ul class="langs inline-list">
        <li class="lang-clojure"></li>
        <li class="lang-erlang"></li>
        <li class="lang-scheme"></li>
        <li class="lang-scala"></li>
        <li class="lang-ocaml"></li>
        <li class="lang-haskell"></li>
        <li class="lang-lisp"></li>
        <li class="lang-java"></li>
        <li class="lang-elixir"></li>
        <li class="lang-f"></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="about">
  <div class="row">
    <div class="columns large-8">
      <h1>About the Conference</h1>

        <div style="width: 150%; padding: 20px 0">
            <div style="float: left; padding-right: 15px">
                <iframe width="450" height="305" src="//www.youtube.com/embed/videoseries?list=PL9Z-JgiTsOYSQRYRZixKd_HZ8_9ZWZMZR" frameborder="0" allowfullscreen></iframe>
            </div>
            <div style="float: left">
                <a href="https://plus.google.com/u/0/photos/116032120924821459278/albums/6200176234081779233" target="_blank">
                    <div class="pictures"></div>
                </a>
            </div>
            <div style="clear: both"></div>
        </div>
      <p>
        For over 35 years, functional programming has been a hot research topic. However in the last 5 years, driven by the need to build <em>massively concurrent systems</em> and to handle <em>big-data</em>, we've experienced a rapid adoption of functional programming concepts by diverse companies, ranging from tech start-ups to financial institutes.
      </p>
      <p>
        These days, functional programming is at the heart of every, new generation programming technologies. Companies are employing functional programming to enable more <em>effective, robust, and flexible</em> software development. This has given birth to a very vibrant community of functional programmers, who are constantly exploring ways to bring functional programming concepts to the world of enterprise software development.
      </p>
      <p>
        Functional Conf is designed to bring the growing community of functional programmers together under one roof. At Functional Conf:
      </p>
      <ul>
        <li>participants can understand the fundamentals concepts behind functional programming</li>
        <li>they can learn how others are using functional programming to solve real world problems</li>
        <li>practitioners can meet peers and exchange their experience</li>
        <li>experts can share their expertise on practical usage and gotchas in functional programming concepts</li>
      </ul>

    </div>
    <div class="large-4 columns bookmark">
      <div class="social-wrapper dark">
        <ul class="small-block-grid-1 social-links">
          <li><a class="icon-twitter" href="https://twitter.com/fnConf" target="_blank"></a></li>
          <li><a class="icon-fb" href="https://www.facebook.com/functionalconf" target="_blank"></a></li>
          <li><a class="icon-linkedin" href="http://www.linkedin.com/groups/Functional-Conf-6626650/about" target="_blank"></a></li>
          <li><a class="icon-plus" href="https://plus.google.com/u/0/communities/108445265387298883578" target="_blank"></a></li>
          <li><a class="icon-mail" href="mailto:team@functionalconf.com?subject=FunctionalConf" target="_blank"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="speakers dark">
  <div class="row">
    <div class="columns large-12">
      <h1>Invited Speakers</h1>

      <ul class="small-block-grid-2 large-block-grid-3 speaker-list">
          <li>
              <a href="https://brianmckenna.org/blog/" target="_blank" >
                  <img  src="https://avatars1.githubusercontent.com/u/37715?v=3&s=400" alt="Brian McKenna" title="Brian McKenna" />
                  <h3 class="name">Brian <br /> McKenna</h3>
              </a>
          </li>
          <li>
              <a href="http://about.me/debasishg" target="_blank" >
                  <img  src="/static/images/speakers/debasish.png" alt="Debasish Ghosh" title="Debasish Ghosh" />
                  <h3 class="name">Debasish <br /> Ghosh</h3>
              </a>
          </li>
          <li>
              <a href="https://en.wikipedia.org/wiki/John_Hughes_(computer_scientist)" target="_blank" >
                  <img  src="/static/images/speakers/johnhughes.jpg" alt="John Hughes" title="John Hughes" />
                  <h3 class="name">John <br /> Hughes</h3>
              </a>
          </li>
          <li>
              <a href="http://dk.linkedin.com/pub/morten-kromberg/4/571/483" target="_blank" >
                  <img  src="/static/images/speakers/morten.png" alt="Morten Kromberg" title="Morten Kromberg" />
                  <h3 class="name">Morten <br /> Kromberg</h3>
              </a>
          </li>
          <li>
              <a href="https://github.com/rvirding" target="_blank" >
                  <img  src="https://avatars2.githubusercontent.com/u/11467?v=3&s=400" alt="Robert Virding" title="Robert Virding" />
                  <h3 class="name">Robert <br /> Virding</h3>
              </a>
          </li>
          <li>
              <a href="https://github.com/CrossEye" target="_blank" >
                  <img  src="https://avatars0.githubusercontent.com/u/151263?v=3&s=400" alt="Scott Sauyet" title="Scott Sauyet" />
                  <h3 class="name">Scott <br /> Sauyet</h3>
              </a>
          </li>
          <li>
              <a href="https://www.linkedin.com/in/tjusiyan" target="_blank" >
                  <img  src="https://avatars1.githubusercontent.com/u/566892?v=3&s=400" alt="TJ Usiyan" title="TJ Usiyan" />
                  <h3 class="name">TJ <br /> Usiyan</h3>
              </a>
          </li>
          <li>
              <a href="https://www.linkedin.com/in/viralbshah" target="_blank" >
                  <img src="https://avatars0.githubusercontent.com/u/744411?v=3&s=150" alt="Viral B. Shah" title="Viral B. Shah">
                  <h3 class="name">Viral<br /> B. Shah</h3>
              </a>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="sponsors" id="sponsors">

  <div class="row">
    <div class="columns large-12">

      <h1>Sponsors</h1>

        <div class="sponsor">
            <div class="columns large-3 meta">
                <div class="tag">
                    Gold
                </div>
                <a href="http://www.dyalog.com/" target="_blank"><img src="/static/images/logo-dyalog.png" alt="Dyalog" title="Dyalog" /></a>
            </div>
            <div class="columns large-9">
                <div class="info">
                    <a href="http://www.dyalog.com/" target="_blank">Dyalog</a> delivers an APL-based development environment that allows users to create strong software solutions.
                    <br /> <br />
                    Dyalog is primarily a tool of thought, enabling subject matter experts to be key contributors in the software development process irrespective of whether they have experience within software development.
                    <br /> <br />
                    Dyalog is particularly well suited when tasks are of an analytical or mathematical nature. Through rapid prototyping of both simple and complex processes, users can create reliable, flexible and high performance solutions.
                    <br /> <br />
                    Today Dyalog is in daily use in many major corporations throughout the world.
                </div>
            </div>
        </div>

        <p>Functional Conf is organised by community of passionate functional programmers on a volunteer-basis. We rely on corporate sponsorship to keep ticket prices low for attendees, as well as help cover the cost of venue, food, beverages, t-shirts, and more.</p>
        <p>Listed below, you'll see, we offer a variety of sponsorship levels, each with their own benefits. And if you don't see a sponsorship level that fits your interests, just let us know! We're open to figuring out something that works for you and us.</p>
        <p><strong>Sponsorship Levels</strong></p>
        <ul class="style1">
            <li><strong>Title</strong> Sponsor (Limited to 2)</li>
            <li><strong>Platinum</strong> Sponsor (Limited to 3)</li>
            <li><strong>Gold</strong> Sponsor (Limited to 4)</li>
            <li>Conference <strong>Bag</strong> Sponsor (Limited to 1)</li>
            <li>Conference <strong>T-Shirt</strong> Sponsor (Limited to 1)</li>
            <li>Conference <strong>Reception</strong> Sponsor (Limited to 1)</li>
            <li>Conference <strong>Lunch</strong> Sponsor (Limited to 2)</li>
            <li><strong>Track</strong> Sponsor (Limited to 4)</li>
        </ul>

      <a class="button dark" href="sponsor.html">Become a Sponsor</a>

    </div>
  </div>

</div>

<div class="venue dark">
  <div class="row">
    <div class="columns large-12">
      <h1>Venue</h1>
      <div class="map">

        <a href="venue.html" class="map-link">
          <span class="info">
            The Chancery Pavilion Hotel <br />
            #135, Residency Road <br />
            Bangalore - 560 025
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/js/jquery.googleslides.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".pictures").googleslides({
            userid: '116032120924821459278',
            albumid: '6200176234081779233',
            random: true
        });
    });
</script>
{% endblock %}
