{% extends "_base_page.html" %}

{% block title %}Registration - Functional Conf 2014{% endblock %}

{% block body_classes %}
page page-register
{% endblock %}

{% block content %}
    <div class="registration">
      <div class="row">
          <div class="columns large-8">
            <h1>Registration</h1>
            <a class="button dark button-reg" href="http://booking.agilefaqs.com/functional-conf-2014#conferences" target="_blank">Register for Conference</a>
            <a class="button dark button-reg" href="http://booking.agilefaqs.com/functional-conf-2014#workshops" target="_blank">Register for Workshops</a>
            <h2>Registration Slabs</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Slab</th>
                  <th>Start Date</th>
                  <th># of Seats</th>
                  <th>Conference Pass</th>
                </tr>
              </thead>
              <tbody>
                <tr class="crossed">
                  <td><del>1. Super Early Bird</del></td>
                  <td><del>June 10th</del></td>
                  <td><del>25</del></td>
                  <td><del>Rs. 3,000</del></td>
                </tr>
                <tr class="crossed">
                  <td><del>2. Early Bird</del></td>
                  <td><del>July 1st</del></td>
                  <td><del>50</del></td>
                  <td><del>Rs. 4,000</del></td>
                </tr>
                <tr class="crossed">
                  <td><del>3. Smart</del></td>
                  <td><del>July 15th</del></td>
                  <td><del>100</del></td>
                  <td><del>5,000 Rs.</del></td>
                </tr>
                <tr>
                  <td>4. Regular</td>
                  <td>August 25th</td>
                  <td>100</td>
                  <td>7,000 Rs.</td>
                </tr>
                <tr>
                  <td>5. Late</td>
                  <td>Sep 15th</td>
                  <td>75</td>
                  <td>10,000 Rs.</td>
                </tr>
                <tr>
                  <td>6. Last Minute</td>
                  <td>Oct 1st</td>
                  <td>50</td>
                  <td>15,000 Rs.</td>
                </tr>
              </tbody>
            </table>


            <p>Each slab has a fixed number of seats. Once they are sold, next slab is active.<br><a href="http://booking.agilefaqs.com/functional-conf-2014" target="_blank">Online registration page</a> clearly displays the number of seats left for the current slab.</p>

            <h2>Student Discount</h2>

            <p>To encourage more participation from students, we are happy to offer a <strong>special 50% discount for students</strong>. <a href="mailto:team@functionalconf.com?subject=StudentDiscount">Email us</a> for the discount code.</p>

            <h2>Post Conference Workshops</h2>
            <p>Additionally, we also have exciting <a href="http://booking.agilefaqs.com/functional-conf-2014#workshops" target="_blank">post-conference workshops</a> on Oct 11th from our top-notch speakers. Registration for these workshops are separate from the actual conference registration. You can pay and register for specific workshops.</p>

            <h2>Cancellation</h2>
            <p>For name change, cancellation/refund policy, please check the <a href="http://booking.agilefaqs.com/terms_and_conditions" target="_blank">online registration's terms &amp; conditions</a>.</p>

          <a class="button button-reg dark" href="http://booking.agilefaqs.com/functional-conf-2014#conferences" target="_blank">Register for Conference</a>
          <a class="button button-reg dark" href="http://booking.agilefaqs.com/functional-conf-2014#workshops" target="_blank">Register for Workshops</a>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
