{% extends "_base_page.html" %}

{% block title %}Schedule - Functional Conf 2016{% endblock %}

{% block body_classes %}
page page-schedule
{% endblock %}

{% block content %}
    <div class="schedule-wrapper">
    <div class="row">
          <div class="columns large-9">
            <h1>Schedule</h1>

            <h2 class="head-workshops" id="conference">Conference</h2>

            <iframe src="https://confengine.com/functional-conf-2016/schedule/rich" allowfullscreen height="1000px" width="100%">Loading schedule from https://confengine.com/functional-conf-2016/schedule/rich</iframe>

            <div>
                Not convinced? Check out <a href="/2015/schedule.html">our last year's schedule</a>.
            </div>

          </div>
       </div>
    </div>
{% endblock %}
