{% extends "_base_page.html" %}

{% block title %}Schedule - Functional Conf 2015{% endblock %}

{% block body_classes %}
page page-schedule
{% endblock %}

{% block content %}
    <div class="schedule-wrapper">
    <div class="row">
          <div class="columns large-9">
            <h1>Tentative Schedule</h1>

            <h2 class="head-workshops" id="workshops">Workshops</h2>

            <table class="table table-striped table-bordered table--workshops">
                <thead>
                <tr>
                    <td colspan="4">
                        <strong>Sep 10th, 2015 (Thursday)</strong>
                    </td>
                </tr>
                <tr>
                    <th style="width:15%;">#</th>
                    <th style="width:20%;">Length</th>
                    <th style="width:65%;">Workshop</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Full Day</td>
                    <td>Clojure Deep-dive</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Full Day</td>
                    <td>Scala for Java &amp; C# Programmers</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Full Day</td>
                    <td>Functional Programming with Java 8</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Half Day</td>
                    <td>Introduction to OCaml</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Half Day</td>
                    <td>Functional Programming With Elixir</td>
                </tr>
                </tbody>
            </table>

            <table class="table table-striped table-bordered table--day-1">
              <thead>
                <tr>
                  <th colspan="3"><strong>DAY 1:</strong> Sep 11th 2015 (Friday)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th style="width: 16%">Time</th>
                  <th style="width: 42%">Track 1 (GBR 1)</th>
                  <th style="width: 42%">Track 2 (GBR 2)</th>
                </tr>

                <tr>
                  <td>08:30-09:00</td>
                  <td colspan="2">Registration</td>
                </tr>
                <tr>
                    <td>09:00-10:00</td>
                    <td colspan="2">Keynote</td>
                </tr>
                <tr>
                  <td>10:00-10:15</td>
                  <td colspan="2">Welcome Address</td>
                </tr>
                <tr>
                  <td>10:15-10:30</td>
                  <td colspan="2">Coffee/Tea Break</td>
                </tr>
                <tr>
                  <td>10:30-12:00</td>
                    <td>Hands-On Workshop 1</td>
                    <td>Demo 1</td>
                </tr>
                <tr>
                  <td>12:00-12:15</td>
                  <td colspan="2">Break</td>
                </tr>
                <tr>
                  <td>12:15-13:00</td>
                    <td>Expert Talk 1</td>
                    <td>Experience Report 1<br>Experience Report 2</td>
                </tr>
                <tr>
                  <td>13:00-14:00</td>
                  <td colspan="2">Lunch Break</td>
                </tr>
                <tr>
                  <td>14:00-15:00</td>
                    <td>Hands-on Workshop 2</td>
                    <td>Tools Demo 2</td>
                </tr>
                <tr>
                  <td>15:00-15:15</td>
                  <td colspan="2">Coffee/Tea Break</td>
                </tr>
                <tr>
                  <td>15:15-16:00</td>
                    <td>Case Study 1</td>
                    <td>Experience Report 3<br>Experience Report 4</td>
                </tr>
                <tr>
                  <td>16:00-16:15</td>
                  <td colspan="2">Break</td>
                </tr>
                <tr>
                  <td>16:15-17:15</td>
                  <td>Expert Talk 2</td>
                  <td>Case Study 2</td>
                </tr>
                <tr>
                  <td>17:15-17:30</td>
                  <td colspan="2">Break</td>
                </tr>
                <tr>
                  <td>17:30-18:15</td>
                    <td>Expert Talk 3</td>
                    <td>Case Study 3</td>
                </tr>
                <tr>
                  <td>18:15-18:30</td>
                  <td colspan="2">Break</td>
                </tr>
                <tr>
                  <td>18:30-19:30</td>
                  <td colspan="2"><a href="http://en.wikipedia.org/wiki/Fishbowl_(conversation)" target="_blank">Fish Bowl</a></td>
                </tr>
                <tr>
                  <td>19:30-22:00</td>
                  <td colspan="2">Dinner and Networking</td>
                </tr>
              </tbody>
            </table>


            <table class="table table-striped table-bordered table--day-2">
              <thead>
                <tr>
                  <th colspan="3"><strong>DAY 2:</strong> Sep 12th 2015 (Saturday)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th style="width: 16%">Time</th>
                  <th style="width: 42%">Track 1 (GBR 1)</th>
                  <th style="width: 42%">Track 2 (GBR 2)</th>
                </tr>
                <tr>
                  <td>09:00-10:00</td>
                  <td colspan="2">Keynote</td>
                </tr>
                <tr>
                  <td>10:00-10:15</td>
                  <td colspan="2">Important Announcements</td>
                </tr>
                <tr>
                  <td>10:15-10:30</td>
                  <td colspan="2">Coffee/Tea Break</td>
                </tr>
                <tr>
                  <td>10:30-11:30</td>
                    <td>Demo 3</td>
                  <td>Expert Talk 4</td>
                </tr>
                <tr>
                  <td>11:30-11:45</td>
                  <td colspan="2">Break</td>
                </tr>
                <tr>
                  <td>11:45-12:30</td>
                    <td>Case Study 4</td>
                    <td>Experience Report 5<br>Experience Report 6</td>
                </tr>
                <tr>
                  <td>12:30-13:30</td>
                  <td colspan="2">Lunch Break</td>
                </tr>
                <tr>
                  <td>13:30-15:30</td>
                    <td>Hands-on Workshop 3</td>
                  <td>Hands-on Workshop 4</td>
                </tr>
                <tr>
                  <td>15:30-15:45</td>
                  <td colspan="2">Coffee/Tea Break</td>
                </tr>
                <tr>
                  <td>15:45-16:45</td>
                  <td>Case Study 5</td>
                    <td>Demo 4</td>
                </tr>
                <tr>
                  <td>16:45-17:00</td>
                  <td colspan="2">Break</td>
                </tr>
                <tr>
                    <td>17:00-18:00</td>
                    <td colspan="2">Closing Keynote</td>
                </tr>
                <tr>
                  <td>18:00-18:15</td>
                  <td colspan="2">Closing Talk</td>
                </tr>
              </tbody>
            </table>

            <div>
                Not convinced? Check out <a href="/2014/schedule.html">our last year's schedule</a>.
            </div>

          </div>
       </div>
    </div>
{% endblock %}
