{% extends "_base_page.html" %}

{% block title %}Schedule - Functional Conf 2017{% endblock %}

{% block body_classes %}
page page-schedule
{% endblock %}

{% block content %}
<div class="schedule-wrapper">
    <div class="row">
        <div class="columns large-10">
            <h1>Schedule</h1>

            <h3 class="head-workshops" id="conference">
                The program committee is working on this year's schedule.
                <br/><br/>Have a look at last year's schedule in the mean time.
            </h3>

            <div id="confengine_embed_content" data-embed-url="https://confengine.com/functional-conf-2016/schedule?theme=light">
                <img src="https://confengine.com/assets/ext/loader.gif">
                <h5>Loading Schedule...</h5>
            </div>
            <script type="text/javascript" src="https://confengine.com/assets/ext/confengine.oembed.min.js"></script>
        </div>
    </div>
</div>
{% endblock %}
