{% extends "_base_page.html" %}

{% block title %}Call For Proposals - Functional Conf 2015{% endblock %}

{% block body_classes %}
page page-schedule
{% endblock %}

{% block content %}
    <div class="schedule-wrapper">
    <div class="row">
          <div class="columns large-9">
            <h1>Call For Proposals</h1>

              <div>
                  <a name="review-process"></a>
                  <p>To present at Functional Conf 2015, please submit your proposal before June 15th via our <a href="http://confengine.com/functional-conf-2015" target="_blank">public proposal submission system</a>.</p>
              </div>

              <div>
                  <h3>REVIEW PROCESS</h3>
                  <p>All proposals will be public. Registered user of the submission system will be able to comment on your proposal. You are required to reply to those comments to provide clarifications, explain revisions and respond to questions. The program team will look at how well you've responded to comments and updated your proposal to incorporate public suggestions. Ultimately the decision to accept a session resides with the program team.</p>
                  <p>Your proposal stands the best chance to be selected, if it's unique, fully flushed, ready-to-go. Please ensure you've read:</p>
                  <ol class="list">
                      <li><a href="#selection-criteria">Selection Criteria</a> </li>
                      <li><a href="http://confengine.com/review-process#good-proposal-attributes" target="_blank">Good Proposal Attributes</a> </li>
                      <li><a href="http://confengine.com/review-process#best-chance" target="_blank">Best Selection Chance</a> </li>
                      <li><a href="http://confengine.com/review-process#tips-for-proposal" target="_blank">Tips for Proposals</a> </li>
                  </ol>

                  <p>To encourage early submissions and iterative improvement of proposals, we'll start accepting proposals as soon as we find them a good fit. As time passes by, the competition gets tougher. So don't wait till the last date to submit your proposal.</p>
              </div>

              <div>
                  <a name="selection-criteria"></a>
                  <h3>We Value</h3>
                  <p>In terms of the <em><span style="text-decoration: underline;">overarching themes or values</span></em> in the proposals, we look at the following criteria during selection:</p>

                  <ol class="list">
                      <li><b>Diversity</b>  - As a conference, we want to be more <span style="text-decoration: underline;">inclusive</span> (different approaches, different programming languages, gender, countries, back-ground etc.)</li>
                      <li><b>Balance</b> - We want to strike a good balance between <span style="text-decoration: underline;">different types of presentations</span> (expert talks, experience reports, tutorials, workshops, etc.) and <span style="text-decoration: underline;">different types of experience</span> the speakers bring to the conference.</li>
                      <li><b>Equality</b> - We encourage <span style="text-decoration: underline;">more students and women speakers</span>. We won't select any proposal just because it came from a student or a women speaker. But given we have to pick 1 out of 2 equal proposal, we'll pick the one, which was proposed by a student or a women speaker.</li>
                      <li><b>Practicality</b> - People come to a conference to <span style="text-decoration: underline;">learn, network, have an experience and leave motivated</span>. Proposals which directly help this are always preferred. While a little bit of theory is good, but if the proposal lacks practical application, it does not really help the participants. Also people learn more by doing rather than listening. If proposals has an element of "<span style="text-decoration: underline;">learn by doing</span>" it wins over other proposals. Take people on a learning journey.</li>
                      <li><b>Opportunity</b> - While we want to ensure the conference has at least 70% rock solid speakers, we also want to give an opportunity to <span style="text-decoration: underline;">new speakers</span>, who have real potential</li>
                      <li><b>Originality</b> - Original ideas wins hands-on from copied one. People always prefer listing to an <span style="text-decoration: underline;">idea from its creator</span> rather than second or third person. However, you might have taken an idea and tweaked it in your context. You would have gained an insight by doing so. And certainly all of us want to hear your <span style="text-decoration: underline;">first-hand experience</span>, even though you were not the creator of the original idea. We are looking for <span style="text-decoration: underline;">Thought-Leadership</span>.</li>
                      <li><b>Radical Ideas</b> - We really respect people, who want to <span style="text-decoration: underline;">push the boundaries and challenge the status quo</span>. We have a soft-corner for <span style="text-decoration: underline;">unconventional ideas</span> and will try our best to support them and bring awareness to their work.</li>
                      <li><b>Demand</b> - <span style="text-decoration: underline;">Votes</span> on a proposal and <span style="text-decoration: underline;">buzz on social media</span> gives us an idea of how many people are really interested in the topic. (We fully understand votes can be gamed, but we've a system that can eliminate some bogus votes and use different types of patterns to give us a decent sense of the real demand.)</li>
                  </ol>
              </div>
              
              <div>
                  <h3><a name="compensation"></a>Compensation for speakers</h3>
                  <p>Speakers will be compensated as follows:</p>
                  <table class="table table-striped table-bordered">
                      <tbody>
                      <tr>
                          <td>60 or 90 minutes session</td>
                          <td>1 Free Conference Registration + 2 Hotel Night</td>
                      </tr>
                      <tr>
                          <td>45 minutes session</td>
                          <td><span>1 Free Conference Registration + 1 Hotel Night</span></td>
                      </tr>
                      <tr>
                          <td>20 <span>minutes</span> session</td>
                          <td>1 Free Conference Registration</td>
                      </tr>
                      <tr>
                          <td>&lt; 20 <span>minutes</span></td>
                          <td>No Compensation</td>
                      </tr>
                      </tbody>
                  </table>
                  <p>Speakers can contact <a href="mailto:naresh@functionalconf.com">naresh@functionalconf.com</a> for discount code to register for the conference.</p>
                  <p>Compensation listed above is only for primary speakers. Co-presenters can avail a 25% discount on their registrations. Hotel nights are capped at 3 nights for speakers with multiple accepted sessions. They cannot be accumulated beyond the cap or transferred to another person. Free registrations cannot be accumulated or transferred.</p>
              </div>
              <div style="text-align: center">
                  <a class="button button--register" href="http://confengine.com/functional-conf-2015">Propose a Session!</a>
              </div>



          </div>
       </div>
    </div>
{% endblock %}
