{% extends "_base_page.html" %}

{% block title %} Sponsor - Functional Conf 2017{% endblock %}

{% block body_classes %}
page page-sponsor
{% endblock %}

{% block content %}
<div class="schedule-wrapper">
    <div class="row">
        <div class="columns large-8 large-offset-2">
            <div id="ce-content" data-url-ext=".html" data-conf-id="functional-conf-2016" data-screen-name="sponsor">
                <script src="https://embed.confengine.com/app.js"></script>
                <script>$_mod.ready();</script>
            </div>
        </div>
    </div>
</div>
{% endblock %}