{% extends "_base_page.html" %}

{% block title %}Becoming a Sponsor - Functional Conf 2019{% endblock %}

{% block body_classes %}
page page-sponsor
{% endblock %}

{% block content %}
<div class="registration">
    <div class="row">
        <div class="columns large-8 large-offset-2">
            <h1>Becoming a Sponsor</h1>
            <p>Functional Conf is organized by a community of passionate functional programmers on a volunteer basis. We rely on corporate sponsorship to keep ticket prices low for attendees, and also to help cover costs of the venue, food, beverages, T-shirts, and more.</p>
            <p>Listed below are the different <strong>Sponsorship Levels</strong> we offer, each with their own benefits</p>
            <ul class="style1">
                <li><strong>Title</strong> Sponsor (Limited to 2)</li>
                <li><strong>Platinum</strong> Sponsor (Limited to 3)</li>
                <li><strong>Gold</strong> Sponsor (Limited to 4)</li>
                <li>Conference <strong>Bag</strong> Sponsor (Limited to 1)</li>
                <li>Conference <strong>T-Shirt</strong> Sponsor (Limited to 1)</li>
                <li>Conference <strong>Reception</strong> Sponsor (Limited to 1)</li>
                <li>Conference <strong>Lunch</strong> Sponsor (Limited to 2)</li>
                <li><strong>Track</strong> Sponsor (Limited to 4)</li>
            </ul>
            <p><sup>*</sup> If you do not see a sponsorship level that fits your interests, let us know and we will figure out something that works mutually for you and us.</p>

            <!--<div id="ce-8125" data-url-ext=".html" data-conf-id="functional-conf-2017" data-screen-name="sponsors" style="min-height: 400px; width: 100%;"></div>-->
            <!--<script src="https://embed.confengine.com/app.js"></script>-->
            <!--<script>$_mod.ready();</script>-->

            <p>For questions about sponsorship or to view the 2019 sponsorship prospectus, please email us on <a href="mailto:team@functionalconf.com">team@functionalconf.com</a>.</p>
            <a href="sponsor-guide.html"><span class="button dark">Review Sponsorship Guide</span></a>
        </div>
    </div>
</div>
{% endblock %}
