{% extends "_base_page.html" %}

{% block title %}Venue - Functional Conf 2017{% endblock %}

{% block body_classes %}
page page-venue
{% endblock %}

{% block body_attribs %}
onload="javascript: LoadGmaps();"
{% endblock %}

{% block content %}
<div class="venue-wrapper">
    <div class="row">
        <div class="columns large-8 large-offset-2">
            <h1>Venue</h1>

            <div>
                <h2>Official Host for Functional Conf 2018</h2>

                <p>Exuding an old world charm yet contemporary vibe, Bangalore is ever-welcoming and cosmopolitan in the true sense. A city that offers all that is modern yet is a bastion of tradition; Bangalore’s all-round-the-year pleasant climate and hospitable warmth make it one of the most popular cities to visit.</p>
                <p><a target="_blank" href="https://www.thelalit.com/the-lalit-bangalore/">Hotel Lalit Ashok</a>, a Luxury 5 Star Hotel, puts you within reach of some of the best restaurants and attractions Bangalore has to offer.</p>

                <p><strong>The Lalit Ashok Bangalore</strong> <br>Kumara Krupa High Grounds, Bengaluru - 560 001, India <br>Tel : +91-80-3052-7777 <br><a href="https://www.thelalit.com/the-lalit-bangalore/" target="_blank">www.thelalit.com</a></p>

                <a href="https://goo.gl/maps/UXWppfPdRit" target="_blank" id="venue-map" class="venue-map"></a>
            </div>


            <div>
                <h3><a name="visa"></a>VISA for Entering India</h3>

                <p>We recommend all <b>foreign delegates</b> (speakers &amp; participants) apply for <a href="https://indianvisaonline.gov.in/visa/tvoa.html" target="_blank"><b>e-Tourist Visa</b></a>, three-month before your arrival in India. This is the safest, cheapest and most hassle-free visa. A casual business visit is allowed as part of an e-Tourist visa.</p>

                <p>While filling your visa application online, please fill only mandatory fields. Skip optional fields. Also use the following person's details as the contact person:</p>

                <p><strong>Mr. Adhiyamaan Ori</strong>,
                    <br><em>Assistant Sales Manager</em>,
                    <br><strong>The Lalit Ashok Bangalore</strong>
                    <br>Kumara Krupa High Grounds, Bengaluru - 560 001, India
                    <br><strong>Email</strong>: <a href="mailto:aori@thelalit.com">aori@thelalit.com</a>
                    <br><strong>Mobile</strong>: +91 99000 38935
                </p>

                <p><b>Citizens from other countries</b> are required to apply for a tourist or business visa at their nearest Indian Embassy. Please request us for an invitation letter. Start your visa process at least 2 months before your departure to India.</p>

                <p><span style="text-decoration: underline;"><strong>Please do not apply for Conference Visa.</strong></span> This visa is only applicable for government run conferences.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% include "_map.html" %}